<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG IN</title>
    
</head>
<body>
    <H1>Instagram</H1>
<form method="get" action="/insta/home">
    <input type="text" placeholder="enter username or email id" name="username">
    <input type="password" placeholder="enter your password" name="password">
    <button>Log In</button>
</form>
    
</body>
</html>