<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/thread.css">
</head>

<body>
    <div class="container">
        <div class="nav-bar">
            <div class="nav-logo">
                <i class="fa-brands fa-threads"></i>
            </div>
            <div class="nav-options">
                <i class="fa-solid fa-house"></i>
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="btn">
                <button>Log in</button>
            </div>
        </div>
        <div class="body">
            <div class="content">
                <div class="prof-info">
                    <div class="prof-img"></div>
                    <div class="prof-details">
                        <p style="font-weight: 700;">sandeep_123 <span>1 d</span></p>
                        <p class="para">this is my first treads post</p>
                    </div>
                    <p class="more">...</p>
                </div>
                <div class="main-content">
                    <div></div>
                </div>
                <div class="impresion">
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-comment"></i>
                    <i class="fa-solid fa-repeat"></i>
                    <i class="fa-solid fa-paper-plane"></i>
                </div>

            </div>
            <div class="body" style="position: absolute; top: 600px;">
                <div class="content">
                    <div class="prof-info">
                        <div class="prof-img"></div>
                        <div class="prof-details">
                            <p style="font-weight: 700;">sandeep_123 <span>1 d</span></p>
                            <p class="para">this is my first treads post</p>
                        </div>
                        <p class="more">...</p>
                    </div>
                    <div class="main-content">
                        <div></div>
                    </div>
                    <div class="impresion">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                        <i class="fa-solid fa-repeat"></i>
                        <i class="fa-solid fa-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>